/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background-color: rgb(223, 223, 223); margin: 0; font-family: 'Rubik', sans-serif; }
#cartica {
    min-height: 500px;
    min-width: 800px;
    align-items: center; justify-content: center;
}

#todo {
    margin-top: 100px;
    display: flex;
    align-items: center; justify-content: center;
}

#encartica {
    display: grid;
    gap: 20px;
    place-items: center;
}

.herotable {
    display: grid;
    place-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 15px;
    border-collapse: collapse;
    border-radius: 2.5px 2.5px 0 0;
    background-color: rgb(100, 149, 237);
}

.herotable #headDiv{
    display: grid;
    grid-template-columns: repeat(9, minmax(100px, 200px));
    column-gap: 12px;
    color: white;
    padding-top: 10px; padding-bottom: 10px; padding-left: 25px; padding-right: 40px;
    font-weight: 500;
}

.herotable #bodyDiv {
    color: black; 
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%)  !important;
}

.herotable mat-expansion-panel{
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%)  !important;
    background: white  !important;
    border-radius: 0% !important;
}

.herotable #bodyDiv mat-panel-title{
    display: grid;
    grid-template-columns: repeat(9, minmax(100px, 200px));
    font-size: 15px !important;
}

.herotable #bodyDiv mat-expansion-panel-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.herotable #headFather {
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    max-width: 2072px;
}

.herotable #employeeDataDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 2072px;
}

.chartcard {
    max-width: 400px;
    min-height: 300px;
}

#chartcartica {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#chartdiv {
    align-content: center;
    justify-content: center;
}

#chartcanvas {
    max-height: 370px;
    max-width: 370px;
}
